@import '../../theme/variables.scss';

.miniBlock {
  border-radius: 10px;
  background-color: rgba($gray_02, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  height: 60px;

  &_copy {
    cursor: pointer;
  }

  &_icon {
    width: 20px;
    height: 20px;
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    &_full {
      width: 100%;
    }

    &_title {
      font-size: 12px;
      color: $gray_06;
      font-weight: 400;
      text-align: left;
      &_full {
        width: 100%;
        text-align: center;
      }
    }

    &_description {
      font-size: 16px;
      color: $default_white;
      text-align: left;
      margin-top: 5px;
      &_full {
        width: 100%;
        text-align: center;
      }
    }
  }
}
