@import '../../theme/variables.scss';

.header {
  height: 60px;
  width: 100%;
  background-color: $gray_12;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;

  &_sub {
    width: 100%;
    height: 40px;
    background-color: $gray_02;
    position: fixed;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: space-between;
    z-index: 90;
    top: 60px;
    left: 0;

    &_user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      &_icon {
        width: 24px;
        height: 24px;
      }

      button {
        border: none;
        background-color: transparent;
      }

      &_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 8px;
        color: $default_white;
        font-size: 10px;

        span {
          margin-right: 5px;
        }
      }
    }

    &_balance {
      width: 86px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: 10px;

      &_container {
        width: 140px;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $gray_04;
        border-radius: 5px;
        position: relative;

        &_add {
          width: 20px;
          height: 20px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background-color: $purple_01;
          cursor: pointer;
          position: absolute;
          right: 0;

          &_icon {
            width: 8px;
            height: 8px;
            display: flex;
          }
        }

        &_icon {
          position: absolute;
          left: -5px;
          width: 15.24px;
          height: 20px;
        }

        &_balance {
          font-size: 10px;
          color: $default_white;
          font-weight: bold;
          position: relative;
          right: 5px;
          text-align: center;
        }
      }
    }

    &_dontAuth {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &_link {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $gray_04;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        &_icon {
          width: 15px;
          height: 15px;
        }
      }

      &_heading {
        font-size: 14px;
        color: $default_white;
        font-weight: 500;
        margin-right: 10px;
      }
    }
  }

  &_logo {
    width: 90px;
    position: absolute;
    left: 50%;
    top: calc(50% + 3px);
    transform: translate(-50%, -50%);
  }

  &_menu {
    border: none;
    background-color: transparent;
    margin-left: 10px;
  }

  &_chat {
    border: none;
    background-color: transparent;
    margin-right: 15px;
  }

  &_menu,
  &_menu_icon {
    width: 30px;
    height: 30px;
  }
  &_chat,
  &_chat_icon {
    width: 23px;
    height: 23px;
  }

  &_chat_icon {
    &_active {
      svg {
        path {
          fill: #ffffff !important;
        }
      }
    }
  }

  &_menu_icon {
    &_active {
      svg {
        path {
          fill: #ffffff !important;
        }
      }
    }
  }
}
