@import '../../theme/variables.scss';

.faq {
  &_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 40px;

    &_heading {
      font-size: 20px;
      color: $default_white;
      font-weight: 500;
      text-align: center;
    }

    &_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 0 20px;
      margin: 36px 0 0;
    }

    &_item {
      width: 100%;
      box-sizing: border-box;
      padding: 23px 18px;
      background: $gray_02;
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      &_description {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        color: $default_white;
      }

      &_title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_icon {
          width: 30px;
          height: 21px;

          &_active {
            transform: rotate(180deg);
          }
        }

        span {
          width: 85%;
          font-weight: 500;
          font-size: 16px;
          color: $default_white;
          text-align: left;
        }
      }
    }

    @include breakpoints('1280') {
      padding-top: 130px;
    }

    @include breakpoints('768') {
      &_item {
        &_description {
          font-size: 14px;
        }

        &_title {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
