@import '../../theme/variables.scss';

.avatar {
  border: solid 2px $purple_01;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba($purple_01, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  &_elips {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }
}
