@import '../../theme/variables.scss';

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h3 {
    font-size: 20px;
    color: $default_white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 37px;
  }

  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    &_user {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &_history_games {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h4 {
          margin-bottom: 36px;
          font-size: 20px;
          font-weight: 500;
          color: $default_white;
          text-align: center;
        }

        &_container {
          width: 780px;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
        }

        &_icon {
          width: 40px;
          height: 40px;
        }
      }

      &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          font-weight: 500;
          font-size: 30px;
          color: $default_white;
          text-align: center;
          margin-top: 18px;
        }

        span {
          font-size: 16px;
          color: $gray_06;
          text-align: center;
          margin-top: 4px;
        }
      }

      &_main {
        width: 660px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 35px 0 40px;

        &::before,
        &::after {
          content: '';
          width: 215px;
          height: 4px;
          top: 50%;
          position: absolute;
          transform: translate(0, -50%);
          background-size: 100% 100%;
        }

        &::before {
          right: calc(100% + 40px);
          background: url(./img/left-line.png) no-repeat top center;
        }

        &::after {
          left: calc(100% + 40px);
          background: url(./img/right-line.png) no-repeat top center;
        }
      }
    }
  }

  @include breakpoints('768') {
    &_content {
      &_user {
        &_history_games {
          &_container {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          }
        }

        &_main {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.mt40 {
  margin-top: 40px;
}
