@import '../../theme/variables.scss';
.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h3 {
    font-size: 20px;
    color: $default_white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 37px;
  }

  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    &_user {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &_tasks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_list {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          box-sizing: border-box;
          padding: 0 55px;
          margin-bottom: 37px;
        }

        &_info {
          width: 220px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 0 0 40px;

          &::before,
          &::after {
            content: '';
            width: 215px;
            height: 4px;
            top: 50%;
            position: absolute;
            transform: translate(0, -50%);
            background-size: 100% 100%;
          }

          &::before {
            right: calc(100% + 40px);
            background: url(./img/left-line.png) no-repeat top center;
          }

          &::after {
            left: calc(100% + 40px);
            background: url(./img/right-line.png) no-repeat top center;
          }
        }
      }
    }
  }
}
