@import './variables';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: $gray_01;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: -1;
    background: url(./img/dot.png);
  }
}

textarea,
input,
button {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
