$default_white: #ffffff;
$default_white_01: rgba($default_white, 0.1);

$gray_01: #1e1e1e;
$gray_02: #2c2c2c;
$gray_03: #313131;
$gray_04: #3b3e44;
$gray_05: #272727;
$gray_06: #6d717a;
$gray_07: #232323;
$gray_08: #252528;
$gray_09: #323232;
$gray_10: #2a2a2a;
$gray_11: #4e4e4e;
$gray_12: #2e2e2e;
$gray_06_01: rgba($gray_06, 0.1);
$gray_07_05: rgba($gray_07, 0.5);

$purple_01: #6f7adc;
$purple_02: #bfbefc;
$purple_03: #3b417a;
$purple_04: #494f86;
$purple_01_hover: #555dab;
$purple_02_hover: #9190c2;
$purple_01_01: rgba($purple_01, 0.1);
$purple_02_01: rgba($purple_02, 0.1);

@mixin breakpoints($point) {
  @if $point == '1280' {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @if $point == '1200' {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $point == '1028' {
    @media (max-width: 1028px) {
      @content;
    }
  }
  @if $point == '768' {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $point == '480' {
    @media (max-width: 480px) {
      @content;
    }
  }
}
