@import '../../theme/variables.scss';

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  h3 {
    font-size: 20px;
    color: $default_white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 37px;
  }

  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }

  &_tabs {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $gray_06;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  &_tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: $gray_06;
    flex-shrink: 0;
    border-bottom: solid 2px $gray_06;

    &_active {
      color: $purple_01;
      border-bottom: solid 2px $purple_01;
    }
  }

  @include breakpoints('1028') {
    padding: 130px 10px 0 10px;
  }

  @include breakpoints('480') {
    &_tabs {
      overflow: auto;
    }
  }
}
