@import '../../theme/variables.scss';

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    &_user {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &_tasks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_info {
          width: 220px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: relative;
          margin: 0 0 40px;

          &::before,
          &::after {
            content: '';
            width: 215px;
            height: 4px;
            top: 50%;
            position: absolute;
            transform: translate(0, -50%);
            background-size: 100% 100%;
          }

          &::before {
            right: calc(100% + 40px);
            background: url(./img/left-line.png) no-repeat top center;
          }

          &::after {
            left: calc(100% + 40px);
            background: url(./img/right-line.png) no-repeat top center;
          }
        }

        h3 {
          font-size: 20px;
          color: $default_white;
          font-weight: 500;
          text-align: center;
          margin-bottom: 37px;
        }
      }

      &_history_games {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        &_icon {
          width: 40px;
          height: 40px;
        }
      }

      &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          font-weight: 500;
          font-size: 30px;
          color: $default_white;
          text-align: center;
          margin-top: 18px;
        }

        span {
          font-size: 16px;
          color: $gray_06;
          text-align: center;
          margin-top: 4px;
        }
      }

      &_main {
        width: 660px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 35px 0 40px;

        &::before,
        &::after {
          content: '';
          width: 215px;
          height: 4px;
          top: 50%;
          position: absolute;
          transform: translate(0, -50%);
          background-size: 100% 100%;
        }

        &::before {
          right: calc(100% + 40px);
          background: url(./img/left-line.png) no-repeat top center;
        }

        &::after {
          left: calc(100% + 40px);
          background: url(./img/right-line.png) no-repeat top center;
        }
      }
    }
  }

  &_tabs {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $gray_06;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  &_tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: $gray_06;
    flex-shrink: 0;
    border-bottom: solid 2px transparent;

    &_active {
      color: $purple_01;
      border-bottom: solid 2px $purple_01;
    }
  }
}
