@import '../../theme/variables.scss';

.task {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $gray_02;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 30px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;

    &_progress {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: $gray_01;
      position: relative;

      span {
        position: absolute;
        z-index: 2;
        font-size: 16px;
        color: $default_white;
        font-weight: 700;
      }

      &_current {
        height: 32px;
        z-index: 1;
        left: 4px;
        position: absolute;
        background-color: $purple_01;
        box-shadow: 0px 0px 10px 5px rgba($purple_01, 0.1);
        border-radius: 10px;
      }
    }

    &_event {
      font-weight: 500;
      font-size: 16px;
      color: $gray_06;
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35px;

    &_prize {
      display: flex;
      align-items: center;
      justify-content: center;

      &_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: $purple_04;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        color: $gray_02;
        border: none;
        cursor: default;
        user-select: none;
        pointer-events: none;
        margin-top: 7px;

        &_active {
          color: $default_white;
          background-color: $purple_01;
          cursor: pointer;
          user-select: auto;
          pointer-events: auto;
        }
      }

      span {
        font-size: 16px;
        font-weight: 400;
        color: $gray_06;
        text-align: left;
      }

      &_icon {
        width: 11px;
        height: 16px;
      }

      svg {
        margin-left: 5px;
      }
    }
  }

  @include breakpoints('768') {
    width: 310px;
    height: auto;
    padding: 30px 20px;
    flex-direction: column;

    &_control {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      align-items: flex-start;

      &_prize {
        &_button {
          width: 100%;
          height: 40px;
          margin-top: 10px;
        }
      }
    }

    &_main {
      width: 100%;
      &_event {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}
