@import '../../theme/variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 95;
  background-color: rgba($gray_01, 0.8);

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  &_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_content {
    width: 400px;
    box-sizing: border-box;
    padding: 40px 65px;
    background-color: $gray_02;
    border-radius: 10px;
    position: relative;

    &_main {
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      color: $default_white;
      text-align: center;
      margin-bottom: 15px;
      display: block;
    }

    &_description {
      width: 100%;
      display: block;
      font-weight: 400;
      font-size: 14px;
      color: $gray_04;
      text-align: center;
      margin-bottom: 15px;
    }

    &_buttons {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    &_cancel,
    &_success {
      width: 130px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      color: $default_white;
      font-size: 16px;
      border: none;
      cursor: pointer;
      transition: 0.2s ease;
    }

    &_cancel {
      background-color: $gray_09;

      &:hover {
        background-color: rgba($color: $gray_09, $alpha: 0.7);
      }
    }

    &_success {
      background-color: $purple_01;
      &:hover {
        background-color: $purple_01_hover;
      }
    }

    &_header {
      width: 250px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      color: $default_white;
      text-align: center;
      background: url(./img/purple_bets.png) no-repeat top center;
      background-size: cover;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  @include breakpoints('480') {
    &_content {
      width: 300px;
      padding: 40px 25px;

      &_buttons {
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
      }

      &_cancel,
      &_success {
        width: 100%;
      }

      &_description {
        font-size: 12px;
      }

      &_cancel {
        margin-bottom: 15px;
      }
    }
  }
}
