@import '../../theme/variables.scss';

.jackpot {
  &_leftBlock,
  &_rightBlock {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: absolute;
    z-index: 5;

    &_bottom {
      display: flex;
      align-items: center;
      padding-top: 5px;

      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: $default_white;
        font-weight: 700;

        &_users,
        &_gems {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }

        &_users {
          margin-right: 20px;
          &_icon {
            width: 24px;
            height: 24px;
            margin-right: 5px;
          }
        }

        &_gems {
          &_icon {
            width: 16px;
            height: 22px;
            margin-right: 5px;
          }
        }
      }
    }

    @include breakpoints('1028') {
      position: relative;
      left: auto;
      right: auto;
      top: auto !important;
      margin-top: 0;
      width: 100%;

      &_bottom {
        .content {
          font-size: 18px;

          &_users {
            &_icon {
              width: 20px;
              height: 20px;
              margin-right: 6px;
            }
          }

          &_gems {
            &_icon {
              width: 14px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  &_leftBlock {
    left: 0;
    top: 90px;

    &_top {
      width: 317px;
      height: 100px;
      position: relative;
      background: url(./img/left-top-block.png) no-repeat top center;
      background-size: 100% 100%;

      .content {
        width: 100%;
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0 55px 0 20px;
        box-sizing: border-box;

        > div {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }

        .pink {
          background-color: $purple_02;
        }

        .purple {
          background-color: $purple_01;
        }
      }
    }

    &_bottom {
      width: 251px;
      height: 65px;
      position: relative;
      background: url(./img/left-bottom-block.png) no-repeat top center;
      background-size: 100% 100%;
      margin-top: 50px;
      justify-content: flex-start;
      box-sizing: border-box;
      padding-left: 30px;
    }

    @include breakpoints('1028') {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      &_top {
        width: 100%;
        height: 90px;
        background: none;
        background-color: $gray_12;
        border-right: solid 1px $gray_11;

        .content {
          padding: 0;
          align-items: center;
          justify-content: center;
        }
      }

      &_bottom {
        width: 100%;
        background: none;
        background-color: $gray_12;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-top: 7px;
        margin-top: 30px;
        border-left: solid 1px $gray_04;
      }
    }

    @include breakpoints('480') {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &_top {
        border: none;
      }
    }
  }

  &_rightBlock {
    align-items: flex-end;
    right: 0;
    top: 90px;

    &_top {
      width: 317px;
      height: 100px;
      position: relative;
      background: url(./img/right-top-block.png) no-repeat top center;
      background-size: 100% 100%;

      .content {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    &_bottom {
      width: 251px;
      height: 65px;
      position: relative;
      background: url(./img/right-bottom-block.png) no-repeat top center;
      background-size: 100% 100%;
      margin-top: 50px;
      justify-content: flex-end;
      box-sizing: border-box;
      padding-right: 30px;
    }

    @include breakpoints('1028') {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      &_top {
        width: 100%;
        height: 90px;
        background: none;
        margin-top: 0;
        border-left: solid 1px $gray_04;
        background-color: $gray_12;

        .content {
          margin-top: 20px;
        }
      }

      &_bottom {
        width: 100%;
        background: none;
        background-color: $gray_12;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-top: 7px;
        margin-top: 30px;
        border-right: solid 1px $gray_11;
      }
    }
    @include breakpoints('480') {
      &_top {
        margin-top: 30px;
        border: none;
      }
    }
  }

  &_wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-top: 90px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    @include breakpoints('1028') {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 130px;
    }
  }

  &_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 515px;
    position: relative;
    margin-top: 20px;

    &_panel {
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      button {
        width: 60px;
        height: 100%;
        border: none;
        background-color: $gray_09;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skewX(-10deg);
        cursor: pointer;

        &:hover {
          background-color: $gray_02;
        }

        span {
          display: block;
          transform: skewX(10deg);
          font-size: 16px;
          font-family: 'Roboto';
          color: $default_white;
          text-align: center;
        }
      }
    }

    &_bet {
      width: 164px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      border: none;
      font-family: 'Roboto', sans-serif;
      border-radius: 10px;
      font-size: 21px;
      color: $gray_07;
      text-align: center;
      cursor: pointer;

      &_pink {
        transform: skewX(-10deg);
        background-color: $purple_02;
        left: 0;

        &:hover {
          background-color: $purple_02_hover;
        }

        span {
          display: block;
          transform: skewX(10deg);
        }
      }

      &_purple {
        transform: skewX(10deg);
        background-color: $purple_01;
        right: 0;

        &:hover {
          background-color: $purple_01_hover;
        }

        span {
          display: block;
          transform: skewX(-10deg);
        }
      }
    }

    &_amount {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: calc(100% - 10px);
      height: 75px;
      position: relative;
      background-color: $gray_09;
      border-radius: 100px;

      &_field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &_icon {
          width: 21px;
          height: 30px;
          margin-left: 12px;
        }

        input {
          border: none;
          background: transparent;
          font-size: 33px;
          font-family: 'Roboto', sans-serif;
          color: $default_white;
          font-weight: 700;
          text-align: center;
        }
      }
    }

    @include breakpoints('1028') {
      width: 100%;
      margin-top: 30px;

      &_amount {
        width: calc(100% - 20px);
        height: 60px;
        &_field {
          input {
            font-size: 25px;
          }
        }
      }

      &_bet {
        width: 154px;
        height: 60px;
        font-size: 16px;
        font-weight: 500;
      }

      &_panel {
        box-sizing: border-box;
        padding: 0 8px;
        flex-wrap: nowrap;
        height: auto;

        button {
          width: 11%;
          height: 30px;
        }
      }
    }
    @include breakpoints('768') {
      &_bet {
        width: 104px;
        font-size: 14px;
      }

      &_panel {
        flex-wrap: wrap;

        button {
          width: 22%;
          height: 40px;
          margin-bottom: 10px;
        }
      }
    }
  }

  &_bets {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;

    @include breakpoints('1028') {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &_bet {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    background-color: rgba($gray_02, 0.5);

    &_amount {
      font-size: 16px;
      color: $gray_04;
      text-align: right;
    }

    &_name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      color: $gray_04;

      &_img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }
      }
    }

    &_container_bet &_name {
      font-size: 16px;
      color: $default_white;
      font-weight: 700;
    }

    &_container_bet &_amount {
      font-size: 16px;
      color: $default_white;
      font-weight: 700;
    }

    &_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &_bet {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &_content {
        box-sizing: border-box;
        padding: 0 25px 25px 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      &_header {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 25px;
        align-items: center;
        justify-content: space-between;
      }
    }

    &_color {
      position: absolute;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 50px;
      overflow: hidden;
      top: 0;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: 0;
      }
    }

    &_pink &_color {
      &::before {
        background-color: rgba($purple_02, 0.5);
        box-shadow: inset 0px 0px 20px 5px rgba($purple_02, 0.1);
      }
    }

    &_purple &_color {
      &::before {
        background-color: rgba($purple_01, 0.5);
        box-shadow: inset 0px 0px 20px 5px rgba($purple_01, 0.1);
      }
    }

    &_pink &_header {
      background: url(./img/pink_bets.png) no-repeat top center;
    }

    &_purple &_header {
      background: url(./img/purple_bets.png) no-repeat top center;
    }

    &_header {
      width: 232px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12.5px;
      font-weight: 500;
      color: $gray_07;
      text-align: center;
      background-size: 100% 100%;
      position: absolute;
      top: -17px;

      b {
        margin-left: 7px;
      }
    }

    @include breakpoints('1028') {
      width: calc(100% - 20px);
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 15px;
      }

      &_container_bet &_name {
        font-size: 13px;
      }

      &_container_bet &_amount {
        font-size: 13px;
      }

      &_name {
        &_img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &_top {
    &_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 10px;

      &_name,
      &_win {
        font-size: 18px;
        color: $default_white;
      }
      &_name {
        font-weight: 500;
      }
      &_win {
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &_icon {
          width: 12px;
          height: 16px;
          margin-left: 7px;
        }
      }
      @include breakpoints('1028') {
        margin-left: 15px;

        &_name,
        &_win {
          font-size: 16px;
          color: $default_white;
        }

        &_win {
          margin-top: 3px;
        }
      }
    }
    &_avatar {
      border: solid 2px $purple_01;
      border-radius: 50%;
      box-shadow: 0px 16px 50px 0px rgba(0, 0, 0, 0.1);
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      &Elips {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      @include breakpoints('1028') {
        width: 50px;
        height: 50px;

        &Elips {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.header {
  &_top {
    bottom: calc(100% - 14px);
    left: 50%;
    height: 25px;
    display: flex;
    padding: 0 15px;
    font-weight: 500;
    font-size: 12.5px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    align-items: center;
    color: $default_white;
    justify-content: center;
    text-transform: uppercase;
    background-color: $gray_02;
    text-shadow: 0px 0px 8px 5px $default_white_01;
  }

  &_bottom {
    bottom: calc(100% - 12px);
    height: 20px;
    padding: 0px 20px;
    position: absolute;
    left: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 5px;
    font-size: 12.5px;
    text-transform: uppercase;
    color: $gray_07;
  }

  &_pink {
    background-color: $purple_02;
    box-shadow: 0px 0px 20px 5px $purple_02_01;
  }

  &_purple {
    background-color: $purple_01;
    box-shadow: 0px 0px 20px 5px $purple_01_01;
  }

  &_left {
    transform: skewX(-15deg) translate(-50%, 0);

    span {
      display: block;
      transform: skewX(15deg);
    }
  }

  &_right {
    transform: skewX(15deg) translate(-50%, 0);

    span {
      display: block;
      transform: skewX(-15deg);
    }
  }
}
