@import '../../theme/variables.scss';

.hist {
  width: 250px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 20px;
  margin-right: 0.9em;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &_icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $gray_02;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: 0;
  }

  &_info {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: rgba($gray_02, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &_event {
      &_text {
        color: $default_white;
      }

      &_gray {
        color: $gray_04;
      }

      &_purple {
        color: $purple_01;
      }

      &_number {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
      }

      &_icon {
        width: 11px;
        height: 16px;
        margin-left: 6px;
      }
    }

    &_date {
      font-size: 16px;
      font-weight: 500;
      color: $gray_06;
      margin-bottom: 2px;
      text-align: center;
    }

    &_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      left: 10px;
    }
  }
}
