@import '../../theme/variables.scss';

.sidebar {
  width: 315px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $gray_02;
  overflow: hidden;
  flex-shrink: 0;

  & > * {
    z-index: 1;
    position: relative;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 0;
    background: url(./img/dot.png);
  }

  &_scroll {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  &_footer {
    width: 100%;
    margin: 45px 0;
    box-sizing: border-box;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      font-size: 16px;
      color: $gray_06;
      line-height: 2;
      transition: 0.2s ease;

      &:hover {
        color: $purple_01;
      }
    }
  }

  &_lottery {
    width: 100%;
    padding-left: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_link,
    &_info {
      box-sizing: border-box;
      align-items: center;
      border-radius: 10px;
      background-color: $gray_07_05;
      width: 220px;
    }

    &_link {
      display: flex;
      justify-content: center;
      padding: 14px 0;
      margin-top: 5px;
      text-align: center;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Roboto';
      color: $gray_06;
      transition: 0.2s ease;

      &:hover {
        color: $purple_01;
      }
    }

    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 17px 20px;

      h4 {
        font-size: 21px;
        font-weight: 900;
        color: $gray_06;
        line-height: 1.2;
      }
    }
  }

  &_menu {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 44px 0 44px 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_link {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 21px;
      color: $gray_06;
      margin-bottom: 45px;
      transition: 0.2s ease;

      &_active {
        color: $purple_01;

        svg {
          path {
            fill: $purple_01;
          }
        }
      }

      svg {
        path {
          transition: 0.2s ease;
        }
      }

      &:hover {
        color: $purple_01;

        svg {
          path {
            fill: $purple_01;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_icon {
      width: 25px;
      height: 25px;
      margin-right: 18px;
    }
  }

  &_header {
    width: 100%;
    height: 65px;
    background-color: $gray_04;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    &_icon {
      width: 118px;
      height: 55.56px;
    }
  }

  &_user {
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray_03;
    flex-shrink: 0;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

    &Panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &_dontAuth {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_icon {
          width: 20px;
          height: 18px;
          margin-left: 5px;
        }

        &_link {
          width: 250px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $gray_10;
          border-radius: 10px;
          font-weight: 400;
          border: 0;
          cursor: pointer;
          font-size: 16px;
          color: $default_white;
          transition: 0.2s ease;
          margin-top: 20px;

          &:hover {
            background-color: $gray_11;
          }
        }

        &_heading {
          font-weight: 500;
          font-size: 16px;
          color: $default_white;
        }
      }

      &_controls {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 20px;

        &Balance {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 10px;

          &_container {
            width: 140px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: $gray_04;
            border-radius: 5px;
            position: relative;

            &_icon {
              position: absolute;
              left: -10px;
              width: 21px;
              height: 30.45px;
            }
          }

          &_add {
            width: 30px;
            height: 30px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background-color: $purple_01;
            cursor: pointer;
            position: absolute;
            right: 0;

            &_icon {
              display: flex;
              width: 10px;
              height: 10px;
            }
          }

          &_balance {
            font-size: 16px;
            color: $default_white;
            font-weight: bold;
            position: relative;
            right: 8px;
            text-align: center;
          }
        }

        &Info {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          &_icon {
            width: 20px;
            height: 20px;
          }

          button {
            background-color: transparent;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
          }

          a {
            font-size: 16px;
            color: $default_white;
          }
        }
      }
    }
  }

  @include breakpoints('1028') {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    z-index: 100;
    top: 60px;
    left: auto;
    right: 100%;
    transition: 0.5s ease;

    &_menu {
      &_link {
        margin-bottom: 25px;
      }
    }

    &_active {
      right: 0;
    }
  }
}
