@import '../../theme/variables.scss';

.leaderboard {
  &_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 40px;

    &_list {
      width: 100%;
      margin-top: 33px;
      display: flex;
      flex-direction: column;
      align-content: center;
      box-sizing: border-box;
      padding: 0 20px;

      &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      &_heading {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 8px 0;
        box-sizing: border-box;
        padding-left: 118px;

        span {
          font-size: 16px;
          color: $gray_04;
          text-align: left;
          flex-shrink: 0;

          &:nth-child(1) {
            width: 20%;
          }

          &:nth-child(2) {
            width: 35%;
          }
          &:nth-child(3) {
            width: 25%;
          }
          &:nth-child(4) {
            width: 20%;
          }
        }
      }
    }

    &_info {
      width: 560px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin: 35px 0 40px;

      &::before,
      &::after {
        content: '';
        width: 215px;
        height: 4px;
        top: 50%;
        position: absolute;
        transform: translate(0, -50%);
        background-size: 100% 100%;
      }

      &::before {
        right: calc(100% + 40px);
        background: url(./img/left-line.png) no-repeat top center;
      }

      &::after {
        left: calc(100% + 40px);
        background: url(./img/right-line.png) no-repeat top center;
      }
    }

    &_heading {
      font-size: 20px;
      color: $default_white;
      font-weight: 500;
      text-align: center;
    }
  }
}
