@import '../../theme/variables.scss';

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $gray_07;
  margin: 0px 465px 0px 365px;
  overflow: auto;
  overflow-x: hidden;

  @include breakpoints('1280') {
    margin: 0 auto;
  }

  & > * {
    z-index: 1;
    position: relative;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 0;
    background: url(./img/dot.png);
  }

  &_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    position: relative;
  }
}

.depositInput {
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: $default_white;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  background-color: $gray_09;
}
