@import '../../theme/variables.scss';

.jackpot {
  fill: transparent;
  transform: rotate(-89.7deg);
  transition: transform 8s cubic-bezier(0.15, 0.15, 0, 1) 0ms;
  position: relative;
  z-index: 2;

  &_game {
    position: relative;
    width: 470px;
    height: 470px;

    &_info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;

      &_timer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 35px 0 27px 0;

        &_counter {
          width: 128px;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 10px;

          > span {
            font-size: 20px;
            color: $gray_06;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
          }

          &_container {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
          }

          &_1,
          &_2 {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background-color: $gray_04;
            width: 60px;
            height: 100%;
            font-weight: 500;
            font-size: 60px;
            color: $default_white;
            text-align: center;
          }
        }

        &_bar {
          width: 151px;
          height: 12px;
          background: $gray_04;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          box-sizing: border-box;
          padding: 0 3px;

          &_progress {
            background: #6872ce;
            background: -moz-linear-gradient(top, #6872ce 0%, #4e53ad 100%);
            background: -webkit-linear-gradient(top, #6872ce 0%, #4e53ad 100%);
            background: linear-gradient(to bottom, #6872ce 0%, #4e53ad 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6872ce', endColorstr='#4e53ad',GradientType=0 );
            transition: 0.2s ease;
            border-radius: 6px;
            height: 8px;
          }
        }
      }

      &_bank {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        color: $gray_06;
        text-align: center;

        &_total {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
          font-size: 25px;
          font-weight: 500;
          color: $default_white;

          &_icon {
            width: 18px;
            height: 26px;
            margin-left: 10px;
          }
        }
      }

      &:before {
        content: '';
        width: 351px;
        height: 137px;
        position: absolute;
        top: 64px;
        left: 50%;
        transform: translate(-50%, 0);
        background: url(./img/texture.png) no-repeat top center;
        background-size: 100% 100%;
      }
    }

    &_arrow {
      width: 45px;
      height: 34px;
      position: absolute;
      top: -6px;
      z-index: 3;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &::after {
      content: '';
      width: 70px;
      height: 30px;
      top: -12px;
      border-radius: 10px;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, 0);
      position: absolute;
      background: url(./img/bg-arrow.png) no-repeat top center;
      background-size: 100% 100%;
    }

    &::before {
      content: '';
      border-radius: 50%;
      background: url(./img/roul-bg.png) no-repeat top center;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 470px;
      height: 470px;
      box-shadow: 0px 0px 120px 5px $gray_06_01;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1800px) {
    &_game {
      margin-top: 200px;
    }
  }

  @include breakpoints('1280') {
    &_game {
      width: 310px;
      height: 310px;
      margin-top: 40px;

      &_info {
        &_bank {
          font-size: 12px;

          &_total {
            font-size: 20px;

            &_icon {
              width: 14px;
              height: 22px;
              margin-left: 5px;
            }
          }
        }

        &_timer {
          margin: 40px 0 15px 0;

          &_bar {
            width: 121px;
            height: 9px;

            &_progress {
              height: 5px;
            }
          }

          &_counter {
            width: 100px;
            margin-bottom: 5px;

            > span {
              font-size: 14px;
            }

            &_container {
              height: 70px;
            }

            &_1,
            &_2 {
              width: 45px;
              font-size: 45px;
              border-radius: 15px;
            }
          }
        }

        &::before {
          top: 40px;
          width: 221px;
          height: 87px;
        }
      }

      &_arrow {
        width: 35px;
        height: 24px;
      }

      &::before {
        width: 310px;
        height: 310px;
      }
    }
  }
}
